@import url(font-awesome.min.css);

/*Reseteo*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/***********************************************/


/*General***************************************/

body {
    -webkit-text-size-adjust: none;
    display: grid;
    grid-template-rows: 10vh 78vh 12vh;
    font-family: 'Asap', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #17342F;
}

.navBar {
    padding: 2vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dropdown-menu {
    border: none !important;
    opacity: 0.9;
    /* Opacidad 60% */
    padding: 2vw !important;
    width: 39vw !important;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.div-fotos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.mini-foto {
    width: 100%;
    padding: 2vh;
}

.div-tecnologias {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2vh;
    grid-row-gap: 2vh;
    align-items: center;
    justify-content: center;
}

.div-proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2vh;
    grid-row-gap: 2vh;
    align-items: center;
    justify-content: center;
}

.icono {
    width: 100%;
}

.img-responsive {
    height: auto;
    width: 100%;
}

#info {
    color: #17342F;
    align-self: 50vh;
}

#info>h1 {
    font-size: 20px;
}

#main-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-image: url(../imgs/bokeh-photography-of-person-holding-turned-on-iphone-1440727.jpg);
    background-size: cover;
}

#container1 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#container2 {}

#section-color {
    background-color: #e5dada;
    /* background-color: #EEDAEA; */
    height: 100%;
    padding: 15vh;
    justify-content: center;
    align-content: center;
    padding-left: 20vw;
    padding-right: 20vw;
}

.fp-tableCell {
    vertical-align: center;
}

#sobremi-section>p {}

.div-fotosGrande {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
}

.div-proyectosGrande {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
}


/******************************/

.fa-star {
    color: #DAB92C;
}


/* 
.div-imagen {
    display: inline-block;
    position: relative;
}

.div-imagen>div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px;
    margin: 0;
    color: red;
}

.desvanecer:hover {
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
} */


/*****************************/

.footer {
    background-color: #17342F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 3;
}

.footer>a>i {
    color: white;
    font-size: 5vh;
}

.footer>a>i:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

@media(max-width: 774px) {
    #main-section {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
    }
    #container1 {
        height: 25%;
    }
    #sobremi-section {
        grid-template-rows: 1fr;
        background-color: #e5dada;
        height: 100%;
        padding-left: 20vh;
        padding-right: 20vh;
        justify-content: center;
        align-content: center;
    }
    #sobremi-section>p {
        text-align: center;
    }
    .div-fotosGrande {
        display: none;
    }
}